name: Docker Image CI

on:
  push:
    branches: [ master ]

jobs:

  buildAndPush:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Log in to Docker repository
      uses: docker/login-action@v1.10.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set short SHA
      run: echo "SHORT_SHA=${GITHUB_SHA:0:7}" >> $GITHUB_ENV
    - name: Build Docker image
      run: |
        echo "DOCKER_REPO=ghcr.io/qcrisw/azagent" >> $GITHUB_ENV
        docker build \
          -t ${DOCKER_REPO}:latest \
          -t ${DOCKER_REPO}:${GITHUB_SHA} \
          -t ${DOCKER_REPO}:${SHORT_SHA} \
          .
    - name: Push Docker image
      run: |
        docker push ${DOCKER_REPO}:latest
        docker push ${DOCKER_REPO}:${GITHUB_SHA}
        docker push ${DOCKER_REPO}:${SHORT_SHA}
